@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik-iso', cursive;
}

html,
body {
    padding: 0;
    margin: 0;background-color: black;
}